{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
  },
  "env": {
    "jasmine": true,
    "browser": true,
  }
}
